.add-post-button {
  padding: 10px 0px;
  background-color: rgb(0, 162, 255);
  color: white;
  border: none;
  border-radius: 4px;
  margin: 40px auto;
  font-weight: bolder;
  font-size: 16px;
  width: 100%;
}

.add-post-button:hover {
  border-color: black;
  color: black;
  background-color: white;
}

.user-post-section {
  text-align: center;
  margin: auto;
  width: 70%;
}

.images-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-image {
  width: 14vw;
  height: 14vw;
  margin-bottom: 25px;
  object-fit: cover;
}

.post-image:hover {
  filter: brightness(70%) saturate(50%);
}
